[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
tensorflow-gpu = "*"
jupyter = "*"
d2l = "*"
matplotlib = "*"
pylint = "*"
tqdm = "*"
pyarrow = "*"
tensorflow-io = "*"
loguru = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
